<header></header>
<main>

    <div class="create-route-container">
        <form name="addLocationForm" novalidate ng-submit="create.addLocation(location)">
          <h3>Add Location</h3>
          <input name="name" type="text" placeholder="Location Name" ng-model="location.name" required>
          <input name="address" type="text" placeholder="Address" ng-model="location.street" required>
          <input name="city" type="text" placeholder="City" ng-model="location.city" required>
          <label for="state">State</label>
          <select name="state" ng-model="location.state" required>
              <option disabled="true" selected="true">--</option>
              <option ng-repeat="state in create.states">{{state.abbreviation}}</option>
          </select>
          <input name="zip" type="text" placeholder="Zip" pattern="\d{5}-?(\d{4})?" ng-model="location.zip" required>
          <button id="addLocationBtn" type="submit">Add Location</button>
        </form>

        <table ng-repeat="location in create.route">
          <thead>
            <th>{{location.name}}</th>
          </thead>
          <tbody>
            <tr>
              <td>{{location.street}}</td>
              <td>{{location.city}}</td>
              <td>{{location.state}}</td>
              <td>{{location.zip}}</td>
            </tr>
          </tbody>
        </table>


    </div>


</main>
