
<main>

  <div class="locations-table-container">

    <section class="table-header">
      <h3>Locations</h3>
      <h3>{{routes.currentRoute[0].crew}} Route</h3>
    </section>

    <table>
        <tr ng-repeat="location in routes.currentRoute">
            <td class="name-td">{{location.name}}</td>
            <td class="address-td">{{location.street}}</td>
            <td>{{location.city}}</td>
            <td>{{location.state}}</td>
            <td>{{location.zip}}</td>
            <td>
              <i class="material-icons">edit</i>
              <i class="material-icons x-btn" ng-click="routes.delete(location)">clear</i>
           </td>
        </tr>
    </table>
    <section class="table-footer">
        <button>Map Route<i class="material-icons" ui-sref="main.map">near_me</i></button>
        <button>Manage Tasks<i class="material-icons">assignment</i></button>
    </section>

  </div>
</main>
