.route-table-container {
  width: 80%;
  margin: $base-spacing auto;
  background-color: $base-background-color;
  box-shadow: 0px 1px 5px $medium-gray;

  section.table-header {
    min-height: 5vh;
    background-color: $header-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $small-spacing;

      h3 {
        margin: 0;
      }
}




td {
  .x-btn {
    font-size: .8em;
    color: $header-color;

        &:hover {
          cursor: default;
          color: $action-color;
        }
}
}

td:last-child {
  text-align: right;
}

}
