.angular-google-map-container {
    height: 400px;
    width: 90%;
    z-index: 3;
    margin: 20px auto 0;
    box-shadow: 0 4px 6px #333;
}

.dropDownContainer {
    width: 90%;
    background: #afd0ac;
    margin: 3% auto 0;
    text-align: center;

    .startDropDown {
        padding: 0 20px;
    }

    .wayDropDown {
        padding: 0 20px;
    }

    .endDropDown {
        padding: 0 20px;
    }

    button#submit {
        margin-bottom: 15px;
    }
}

div.adp {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

td.adp-text {
  text-align: center;
  font-weight: 700;
}
