html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-image: url("../../src/images/bgnoise_lg.png");
}

header {
  min-height: 8vh;
  background-color: $header-color;

    h3 {
      color: #fff;
      display: inline-block;
      margin:$small-spacing;
      &:hover {
        cursor: default;
        color: $action-color;
      }
    }
}
